<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
        <freeshippingbar>
            <general>
                <enable>0</enable>
                <eligible_amount>100</eligible_amount>
            </general>
        </freeshippingbar>
    </default>
</config>