<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="checkout-summary-product-attribute" type="MagentoTraining\PreOrderProduct\Plugin\Checkout\Model\DefaultConfigProvider" />
    </type>
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="minicart-product-attribute" type="MagentoTraining\PreOrderProduct\Plugin\Checkout\CustomerData\DefaultItem" />
    </type>
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="MagentoTraining\PreOrderProduct\CustomerData\Wishlist" />

    <type name="Magento\Swatches\Block\Product\Renderer\Configurable">
        <plugin name="swatches-product-preorder-attribute" type="MagentoTraining\PreOrderProduct\Plugin\Swatches\Block\Product\Renderer\Configurable" />
    </type>

</config>
